/* custom styles */

* {
    font-family: "Oxanium", sans-serif;
}

/* Navbar
-------------------------------------------------------------------- */

.mobile-navbar li {
    padding-top: 2rem;
}

.mobile-navbar li>a {
    font-size: 1.8rem;
}

.mobile-navbar li>a>i {
    color: white;
}

/* Welcome Page
-------------------------------------------------------------------- */

.welcome-title {
    font-size: 3rem;
}

.welcome-content {
    font-size: 1.2rem;
}

.login-button {
    margin-right: 25px;
}

.register-button {
    margin-left: 25px;
}

.welcome-footer p {
    font-size: 0.9rem;
}

.welcome-footer p i {
    color: white;
    font-size: 1.2rem;
}

/* Register Page
-------------------------------------------------------------------- */

.custom-panel-register {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Entries/Logged in home page
-------------------------------------------------------------------- */

.select-wrapper {
    margin-top: 10px;
    color: white;
}

.dropdown-content li>span {
    color: rgb(253, 253, 253);
    background-color: #1a237e;
    opacity: 0.75;
}

.input-field [type=text]{
    color: white !important;
    font-family: "Oxanium", sans-serif !important;
}

.input-field [type=number]{
    color: white !important;
    font-family: "Oxanium", sans-serif !important;
}

input#swim_date {
    color: white;
    font-family: "Oxanium", sans-serif;
}

.filter-submit-button {
    margin-top: 25px;
}

.entry-stroke {
    font-size: 1.1rem;
    padding-right: 10px;
}

/* Edit Entry Page
-------------------------------------------------------------------- */

.submit-edit-button {
    margin-right: 25px;
}

.cancel-edit-button {
    margin-left: 25px;
}

/* Media Queries
-------------------------------------------------------------------- */

@media screen and (max-width: 350px) {
    .filter-submit-button {
        width: 25%;
        font-size: 0.5rem
    };
}