/* custom styles */

* {
    font-family: "Oxanium", sans-serif;
}

/* Navbar
-------------------------------------------------------------------- */

.mobile-navbar li {
    padding-top: 2rem;
}

.mobile-navbar li>a {
    font-size: 1.8rem;
}

.mobile-navbar li>a>i {
    color: white;
}

/* Register Page
-------------------------------------------------------------------- */

.custom-panel-register {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Entries/Logged in home page
-------------------------------------------------------------------- */

.select-wrapper {
    border: 1px solid #0097a7;
    margin-top: 10px;
}

.dropdown-content li>span {
    color: black;
}

.entry-stroke {
    font-size: 1.1rem;
    padding-right: 10px;
}

/* Footer
-------------------------------------------------------------------- */

.welcome-footer {
    bottom: 2px;
    position: absolute;
    width: 100%;
}