<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}
    {% endblock %}
    <title>SwimTimes</title>
</head>

<body class="cyan darken-1">

    <header>
        <!-- Navbar -->
        <nav>
            <div class="nav-wrapper indigo darken-4">
                <a href="{{ url_for('welcome') }}" class="brand-logo center">SwimTimes</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa-solid fa-circle-chevron-right"></i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    {% if session.user %}
                        <li><a href="{{ url_for('get_entries') }}">Home <i class="fa-solid fa-water-ladder"></i></a></li>
                        <li><a href="{{ url_for('add_new_entry') }}">Add New Time <i class="fa-solid fa-stopwatch"></i></a></li>
                        <li><a href="#logout-modal" class="modal-trigger">Log Out <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                    {% else %}
                        <li><a href="{{ url_for('welcome') }}">Welcome <i class="fa-solid fa-water"></i></a></li>
                        <li><a href="{{ url_for('login') }}">Log In <i class="fa-solid fa-door-open"></i></a></li>
                        <li><a href="{{ url_for('register') }}">Register <i class="fa-solid fa-keyboard"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- Mobile collapsible -->
        <ul class="sidenav indigo darken-2 mobile-navbar" id="mobile-demo">
            {% if session.user %}
                <li><a href="{{ url_for('get_entries') }}" class="white-text">Home <i class="fa-solid fa-water-ladder"></i></a></li>
                <li><a href="{{ url_for('add_new_entry') }} " class="white-text">Add New Time <i class="fa-solid fa-stopwatch"></i></a></li>
                <li><a href="#logout-modal" class="modal-trigger white-text">Log Out <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
            {% else %}
                <li><a href="{{ url_for('welcome') }}" class="white-text">Welcome <i class="fa-solid fa-water"></i></a></li>
                <li><a href="{{ url_for('login') }}" class="white-text">Log In <i class="fa-solid fa-door-open"></i></a></li>
                <li><a href="{{ url_for('register') }}" class="white-text">Register <i class="fa-solid fa-keyboard"></i></a></li>
            {% endif %}
        </ul>

        <!-- Log out confirmation modal -->
        <div id="logout-modal" class="modal">
            <div class="modal-content center-align">
                <h4>Log Out</h4>
                <p>You will be logged out.</p>
            </div>
            <div class="modal-footer center-align">
                <a href="{{ url_for('logout') }}"
                    class="modal-close waves-effect waves-green btn-flat">OK</a>
                <button class="modal-close btn-flat">Go Back</button>
            </div>
        </div>
    </header>

    <section>
        <!-- Flask code to display the flash() function when called -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="light-blue lighten-4 center-align">{{message}}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    {% block content %}
    {% endblock %}

    <div class="">
        <footer class="custom-footer">
            <p>© 2024 Created by Sean Brindley for Milestone Project 3 in CodeInstitute's Web Application Design
                diploma. <a class="" href="https://github.com/seanbrindley17" target="_blank"><i
                        class="fa-brands fa-github"></i></a></p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>