{% extends "base.html" %}
{% block content %}


    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#freestyle-tab">Freestyle</a></li>
                <li class="tab col s3"><a href="#backstroke-tab">Backstroke</a></li>
                <li class="tab col s3"><a href="#breaststroke-tab">Breaststroke</a></li>
                <li class="tab col s3"><a href="#butterfly-tab">Butterfly</a></li>
            </ul>
        </div>
        
        

        <div id="freestyle-tab" class="col s12">
            Freestyle
            {% for entry in entries %}
                {% if entry.stroke == "freestyle" %}
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header"><i class="material-icons"></i>{{ entry.distance }} {{ entry.stroke }}: {{
                                entry.time }}
                                <div class="col s2">
                                    <a href="" class="waves-effect waves-light btn edit-button">Edit</a>
                                    <a href="#modal1" class="waves-effect waves-light btn delete-button">Delete</a>
                                    <div id="modal1" class="modal">
                                        <div class="modal-content">
                                            <h4>Modal Header</h4>
                                            <p>A bunch of text</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{{ url_for('delete_entry', entry_id=entry._id) }}" class="modal-close waves-effect waves-green btn-flat modal-trigger">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <span>{{ entry.date }}</span><br>
                                {{ entry.personal_best }}<br>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
        </div>

        <div id="backstroke-tab" class="col s12">
            Backstroke
            {% for entry in entries %}
                {% if entry.stroke == "backstroke" %}
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header"><i class="material-icons"></i>{{ entry.distance }} {{ entry.stroke }}: {{
                                entry.time }}
                                <div class="col s2">
                                    <a href="" class="waves-effect waves-light btn edit-button">Edit</a>
                                    <a href="#modal1" class="waves-effect waves-light btn delete-button">Delete</a>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <span>{{ entry.date }}</span><br>
                                {{ entry.personal_best }}<br>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
        
        <div id="breaststroke-tab" class="col s12">
            Breaststroke
            {% for entry in entries %}
                {% if entry.stroke == "breaststroke" %}
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header"><i class="material-icons"></i>{{ entry.distance }} {{ entry.stroke }}: {{
                                entry.time }}
                                <div class="col s2">
                                    <a href="" class="waves-effect waves-light btn edit-button">Edit</a>
                                    <a href="#modal1" class="waves-effect waves-light btn delete-button">Delete</a>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <span>{{ entry.date }}</span><br>
                                {{ entry.personal_best }}<br>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
        
        <div id="butterfly-tab" class="col s12">
            Butterfly
            {% for entry in entries %}
                {% if entry.stroke == "butterfly" %}
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header"><i class="material-icons"></i>{{ entry.distance }} {{ entry.stroke }}: {{
                                entry.time }}
                                <div class="col s2">
                                    <a href="" class="waves-effect waves-light btn edit-button">Edit</a>
                                    <a href="#modal1" class="waves-effect waves-light btn modal-trigger delete-button">Delete</a>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <span>{{ entry.date }}</span><br>
                                {{ entry.personal_best }}<br>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}