{% extends "base.html" %}
{% block content %}

    <!-- Stroke tabs -->
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#freestyle-tab">Freestyle</a></li>
                <li class="tab col s3"><a href="#backstroke-tab">Backstroke</a></li>
                <li class="tab col s3"><a href="#breaststroke-tab">Breaststroke</a></li>
                <li class="tab col s3"><a href="#butterfly-tab">Butterfly</a></li>
            </ul>
        </div>

        <!-- I want to add a kind of sort or filter thing here to allow the user to sort entries by time ascending or date, and with the differet distances etc -->
        
        <!-- Freestyle entries tab -->
        <div id="freestyle-tab" class="col s12">
            Freestyle
            {% for entry in entries %}
            {% if entry.stroke == "freestyle" %}
            <div class="col s12 m4 offset-m4">
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content center-align">
                            <div class="entry-date"><strong>{{ entry.date }}</strong></div><br>
                            <div class="entry-details">{{ entry.distance }} {{ entry.stroke }}: {{ entry.time }}</div>
                        </div>
                        <div class="card-action center-align">
                            <a href="{{ url_for('edit_entry', entry_id=entry._id) }}" class="">Edit</a>
                            <a href="#delete-modal1" class="modal-trigger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Delete confirmation box modal -->
            <div id="delete-modal1" class="modal">
                <div class="modal-content center-align">
                    <h4>Delete Entry</h4>
                    <p>Are you sure you wish to delete this entry:</p>
                    <em>
                        <div class="entry-date"><strong>{{ entry.date }}</strong></div><br>
                        <div class="entry-details">{{ entry.distance }} {{ entry.stroke }}: {{ entry.time }}</div>
                    </em>
                </div>
                <div class="modal-footer">
                    <a href="{{ url_for('delete_entry', entry_id=entry._id) }}"
                        class="modal-close waves-effect waves-green btn-flat">Delete</a>
                    <button class="modal-close btn-flat">Go Back</button>
                </div>
            </div>
        {% endif %}
        {% endfor %}
        </div>

        <!-- Backstroke entries tab -->
        <div id="backstroke-tab" class="col s12">
            Backstroke
            {% for entry in entries %}
                {% if entry.stroke == "backstroke" %}
                <div class="col s12 m4 offset-m4">
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content center-align">
                                <div class="entry-date"><strong>{{ entry.date }}</strong></div><br>
                                <div class="entry-details">{{ entry.distance }} {{ entry.stroke }}: {{ entry.time }}</div>
                            </div>
                            <div class="card-action center-align">
                                <a href="{{ url_for('edit_entry', entry_id=entry._id) }}" class="">Edit</a>
                                <a href="#delete-modal2" class="modal-trigger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Delete confirmation box modal -->
                <div id="delete-modal2" class="modal">
                    <div class="modal-content center-align">
                        <h4>Delete Entry</h4>
                        <p>Are you sure you wish to delete this entry:</p>
                        <em><div class="entry-date"><strong>{{ entry.date }}</strong></div><br>
                        <div class="entry-details">{{ entry.distance }} {{ entry.stroke }}: {{ entry.time }}</div></em>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_entry', entry_id=entry._id) }}"
                            class="modal-close waves-effect waves-green btn-flat">Delete</a>
                        <button class="modal-close btn-flat">Go Back</button>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        
        <!-- Breaststroke entries tab -->
        <div id="breaststroke-tab" class="col s12">
            Breaststroke
            {% for entry in entries %}
                {% if entry.stroke == "breaststroke" %}
                <div class="col s12 m4 offset-m4">
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content center-align">
                                <div class="entry-date"><strong>{{ entry.date }}</strong></div><br>
                                <div class="entry-details">{{ entry.distance }} {{ entry.stroke }}: {{ entry.time }}</div>
                            </div>
                            <div class="card-action center-align">
                                <a href="{{ url_for('edit_entry', entry_id=entry._id) }}" class="">Edit</a>
                                <a href="#delete-modal3" class="modal-trigger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Delete confirmation box modal -->
                <div id="delete-modal3" class="modal">
                    <div class="modal-content center-align">
                        <h4>Delete Entry</h4>
                        <p>Are you sure you wish to delete this entry:</p>
                        <em><div class="entry-date"><strong>{{ entry.date }}</strong></div><br>
                        <div class="entry-details">{{ entry.distance }} {{ entry.stroke }}: {{ entry.time }}</div></em>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_entry', entry_id=entry._id) }}"
                            class="modal-close waves-effect waves-green btn-flat">Delete</a>
                        <button class="modal-close btn-flat">Go Back</button>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        
        <!-- Butterfly entries tab -->
        <div id="butterfly-tab" class="col s12">
            Butterfly
            {% for entry in entries %}
                {% if entry.stroke == "butterfly" %}
                <div class="col s12 m4 offset-m4">
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content center-align">
                                <div class="entry-date"><strong>{{ entry.date }}</strong></div><br>
                                <div class="entry-details">{{ entry.distance }} {{ entry.stroke }}: {{ entry.time }}</div>
                            </div>
                            <div class="card-action center-align">
                                <a href="{{ url_for('edit_entry', entry_id=entry._id) }}" class="">Edit</a>
                                <a href="#delete-modal4" class="modal-trigger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Delete confirmation box modal -->
                <div id="delete-modal4" class="modal">
                    <div class="modal-content center-align">
                        <h4>Delete Entry</h4>
                        <p>Are you sure you wish to delete this entry:</p>
                        <em><div class="entry-date"><strong>{{ entry.date }}</strong></div><br>
                        <div class="entry-details">{{ entry.distance }} {{ entry.stroke }}: {{ entry.time }}</div></em>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_entry', entry_id=entry._id) }}"
                            class="modal-close waves-effect waves-green btn-flat">Delete</a>
                        <button class="modal-close btn-flat">Go Back</button>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
  
{% endblock %}