{% extends "base.html" %}
{% block content %}

    <!-- Stroke tabs -->
    <div class="row">
        <div class="col s12">
            <ul class="tabs cyan darken-1">
                <li class="tab col s3"><a class="active white-text freestyle-top-tab" href="#freestyle-tab">Free</a></li>
                <li class="tab col s3"><a class="white-text backstroke-top-tab" href="#backstroke-tab">Back</a></li>
                <li class="tab col s3"><a class="white-text breaststroke-top-tab" href="#breaststroke-tab">Brst</a></li>
                <li class="tab col s3"><a class="white-text butterfly-top-tab" href="#butterfly-tab">Fly</a></li>
            </ul>
        </div>

        <!-- Filter Distance Form -->
        <form action="{{ url_for('get_entries') }}" method="POST">
            <div id="entry-filter">
                <!-- Filter for race distances -->
                <div class="input-field col s4 offset-l2">
                    <select name="distance-filter" id="distance-filter">
                        <option value="" disabled selected>-------</option>
                        <option value="25m">25m</option>
                        <option value="50m">50m</option>
                        <option value="100m">100m</option>
                        <option value="200m">200m</option>
                    </select>
                    <label for="distance-filter" class="white-text filter-label">Filter Distance</label>
                </div>
                <!-- Filter for Date and Time -->
                <div class="input-field col s4">
                    <select name="date-time-filter" id="date-time-filter">
                        <option value="" disabled selected>-------</option>
                        <option value="time-fastest">Time (Fastest to Slowest)</option>
                        <option value="time-slowest">Time (Slowest to Fastest)</option>
                        <option value="date-latest">Date (Latest to Earliest)</option>
                        <option value="date-earliest">Date (Earliest to Latest)</option>
                    </select>
                    <label for="date-time-filter" class="white-text">Filter By Time/Date</label>
                </div>
                <div col s4>
                    <button type="submit" class="btn-small indigo darken-2 filter-submit-button">Apply Filter</button>
                </div>
            </div>
        </form>
        
        <!-- Freestyle entries tab -->
        <div id="freestyle-tab" class="col s12">
            {% for entry in entries %}
            {% if entry.stroke == "freestyle" %}
            <div class="col s12 m10 offset-m1">
                <div class="card horizontal">
                    <div class="card-stacked indigo darken-4">
                        <div class="card-content center-align">
                            <span class="entry-date white-text left col s5 m4"><strong>{{ entry.date }}</strong></span>
                            <span class="entry-details white-text center-align col s7 m4">{{ entry.distance }} <span class="entry-stroke">{{ entry.stroke.upper() }}:</span> {{ entry.time }}</span>
                            <span class="entry-buttons right col s12 m4">
                                <a href="{{ url_for('edit_entry', entry_id=entry._id) }}" class="edit-entry-button btn-small blue darken-1">Edit</a>
                                <a href="#delete-modal1" class="modal-trigger delete-button btn-small cyan darken-3">Delete</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Delete confirmation box modal -->
            <div id="delete-modal1" class="modal">
                <div class="modal-content center-align">
                    <h4>Delete Entry</h4>
                    <p>Are you sure you wish to delete this entry:</p>
                    <em>
                        <div class="entry-date"><strong>{{ entry.date }}</strong></div><br>
                        <div class="entry-details">{{ entry.distance }} {{ entry.stroke }}: {{ entry.time }}</div>
                    </em>
                </div>
                <div class="modal-footer">
                    <a href="{{ url_for('delete_entry', entry_id=entry._id) }}"
                        class="modal-close waves-effect waves-green btn-flat">Delete</a>
                    <button class="modal-close btn-flat">Go Back</button>
                </div>
            </div>
        {% endif %}
        {% endfor %}
        </div>

        <!-- Backstroke entries tab -->
        <div id="backstroke-tab" class="col s12">
            {% for entry in entries %}
                {% if entry.stroke == "backstroke" %}
                <div class="col s12 m10 offset-m1">
                    <div class="card horizontal">
                        <div class="card-stacked indigo darken-4">
                            <div class="card-content center-align">
                                <span class="entry-date white-text left col s5 m4"><strong>{{ entry.date }}</strong></span>
                                <span class="entry-details white-text center-align col s7 m4">{{ entry.distance }} <span class="entry-stroke">{{ entry.stroke.upper() }}:</span> {{ entry.time
                                    }}</span>
                                <span class="entry-buttons right">
                                    <a href="{{ url_for('edit_entry', entry_id=entry._id) }}" class="edit-entry-button btn-small blue darken-1">Edit</a>
                                    <a href="#delete-modal2" class="modal-trigger delete-button btn-small cyan darken-3">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Delete confirmation box modal -->
                <div id="delete-modal2" class="modal">
                    <div class="modal-content center-align">
                        <h4>Delete Entry</h4>
                        <p>Are you sure you wish to delete this entry:</p>
                        <em><div class="entry-date"><strong>{{ entry.date }}</strong></div><br>
                        <div class="entry-details">{{ entry.distance }} {{ entry.stroke }}: {{ entry.time }}</div></em>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_entry', entry_id=entry._id) }}"
                            class="modal-close waves-effect waves-green btn-flat">Delete</a>
                        <button class="modal-close btn-flat">Go Back</button>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        
        <!-- Breaststroke entries tab -->
        <div id="breaststroke-tab" class="col s12">
            {% for entry in entries %}
                {% if entry.stroke == "breaststroke" %}
                <div class="col s12 m10 offset-m1">
                    <div class="card horizontal">
                        <div class="card-stacked indigo darken-4">
                            <div class="card-content center-align">
                                <span class="entry-date white-text left col s5 m4"><strong>{{ entry.date }}</strong></span>
                                <span class="entry-details white-text center-align col s7 m4">{{ entry.distance }} <span class="entry-stroke">{{ entry.stroke.upper() }}:</span> {{ entry.time
                                    }}</span>
                                <span class="entry-buttons right">
                                    <a href="{{ url_for('edit_entry', entry_id=entry._id) }}" class="edit-entry-button btn-small blue darken-1">Edit</a>
                                    <a href="#delete-modal3" class="modal-trigger delete-button btn-small cyan darken-3">Delete</a>
                            </div>
                        </div>
                        </div>
                </div>
                <!-- Delete confirmation box modal -->
                <div id="delete-modal3" class="modal">
                    <div class="modal-content center-align">
                        <h4>Delete Entry</h4>
                        <p>Are you sure you wish to delete this entry:</p>
                        <em><div class="entry-date"><strong>{{ entry.date }}</strong></div><br>
                        <div class="entry-details">{{ entry.distance }} {{ entry.stroke }}: {{ entry.time }}</div></em>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_entry', entry_id=entry._id) }}"
                            class="modal-close waves-effect waves-green btn-flat">Delete</a>
                        <button class="modal-close btn-flat">Go Back</button>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        
        <!-- Butterfly entries tab -->
        <div id="butterfly-tab" class="col s12">
            {% for entry in entries %}
                {% if entry.stroke == "butterfly" %}
                <div class="col s12 m10 offset-m1">
                    <div class="card horizontal">
                        <div class="card-stacked indigo darken-4">
                            <div class="card-content center-align">
                                <span class="entry-date white-text left col s5 m4"><strong>{{ entry.date }}</strong></span>
                                <span class="entry-details white-text center-align col s7 m4">{{ entry.distance }} <span class="entry-stroke">{{ entry.stroke.upper() }}:</span> {{ entry.time
                                    }}</span>
                                <span class="entry-buttons right">
                                    <a href="{{ url_for('edit_entry', entry_id=entry._id) }}" class="edit-entry-button btn-small blue darken-1">Edit</a>
                                    <a href="#delete-modal4" class="modal-trigger delete-button btn-small cyan darken-3">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Delete confirmation box modal -->
                <div id="delete-modal4" class="modal">
                    <div class="modal-content center-align">
                        <h4>Delete Entry</h4>
                        <p>Are you sure you wish to delete this entry:</p>
                        <em><div class="entry-date"><strong>{{ entry.date }}</strong></div><br>
                        <div class="entry-details">{{ entry.distance }} {{ entry.stroke }}: {{ entry.time }}</div></em>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_entry', entry_id=entry._id) }}"
                            class="modal-close waves-effect waves-green btn-flat">Delete</a>
                        <button class="modal-close btn-flat">Go Back</button>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
  
{% endblock %}