{% extends "base.html" %}
{% block content %}

<h2>LOG IN</h2>

<div class="row">
    <!-- Username field-->
    <div class="input-field col s12">
        <input placeholder="Username" name="username" id="username" type="text" class="validate white-text">
        <label for="username">Username</label>
    </div>
    <!-- Password field -->
    <div class="input-field col s12">
        <input name="password" id="password" type="password" class="validate white-text">
        <label for="password">Password</label>
    </div>
    <!-- Register Button -->
    <div class="row">
        <button type="submit" class="col s4 offset-s4 btn-small">
            Log In
        </button>
    </div>
</div>

{% endblock %}