{% extends "base.html" %}

{% block content %}



<div class="row">
  <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_new_entry') }}">
    <div class="card-panel indigo darken-4">
      <h3 class="center-align white-text">Add New Time</h3>
      <div class="row">
        <!-- Stroke -->
        <div class="input-field col s6">
          <select name="stroke_name" id="stroke_name" required>
            <option value="" disabled selected>-------</option>
            {% for stroke in strokes %}
            <option value="{{ stroke.stroke_name }}" class="white-text">{{ stroke.stroke_name.upper() }}</option>
            {% endfor %}
          </select>
          <label for="stroke_name" class="white-text">Stroke</label>
        </div>
        <!-- Distance -->
        <div class="input-field col s6">
          <select name="distance" id="distance" required>
            <option value="" disabled selected>-------</option>
            {% for race_distance in distances %}
            <option value="{{ race_distance.race_distance }}">{{ race_distance.race_distance }}</option>
            {% endfor %}
          </select>
          <label for="distance" class="white-text">Distance</label>
        </div>
      </div>
      <!-- Time -->
      <div class="row">
        <!-- Minutes -->
        <div class="input-field col s4">
          <input type="text" id="minutes" name="minutes" pattern="^[0-5][0-9]$" maxlength="2" title="Input must be two digits and less than 60, e.g. 01 for one minute" required>
          <label for="minutes" class="white-text">Minutes (00)</label>
        </div>
        <!-- Seconds -->
        <div class="input-field col s4">
          <input type="text" id="seconds" name="seconds" pattern="^[0-5][0-9]$" maxlength="2" title="Input must be two digits and less than 60. e.g. 09 for nine seconds" required>
          <label for="seconds" class="white-text">Seconds (00)</label>
        </div>
        <!-- Milliseconds -->
        <div class="input-field col s4">
          <input type="text" name="milliseconds" id="milliseconds" pattern="^[0-9][0-9]$" title="Input must be two digits. e.g. 05 for five milliseconds" maxlength="2" required>
          <label for="milliseconds" class="white-text">Milliseconds (00)</label>
        </div>
      </div>
      <!-- Date -->
      <div class="input-field col s6 offset-s3">
        <input id="swim_date" name="swim_date" type="text" class="datepicker" required>
        <label for="swim_date" class="white-text">Date</label>
      </div>
      <!-- Submit -->
      <div class="row">
        <div class="col s12 center-align">
          <button type="submit" class="btn-flat cyan darken-1 white-text">
            Add Time
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}