{% extends "base.html" %}

{% block content %}

<div class="row card">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <select name="stroke_name" id="stroke_name">
            <option value="" disabled selected>-------</option>
            {% for stroke in strokes %}
              <option value="{{ stroke.stroke_name }}">{{ stroke.stroke_name }}</option>
            {% endfor %}
          </select>
          <label for="stroke_name">Stroke</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s6">
          <select name="stroke_name" id="stroke_name">
            <option value="" disabled selected>-------</option>
            {% for race_distance in distances %}
              <option value="{{ race_distance.distance }}">{{ race_distance.distance }}</option>
            {% endfor %}
          </select>
          <label for="stroke_name">Distance</label>
        </div>
      </div>
    </form>
  </div>

{% endblock %}