{% extends "base.html" %}
{% block content %}

<!-- Registration Form -->
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel custom-panel-register indigo darken-4">
            <div class="row">
                <h3 class="register-title center-align white-text">Register</h2>
                <!-- First name field -->
                <div class="input-field col s6">
                    <input placeholder="First Name" name="first_name" id="first_name" type="text" class="validate white-text">
                    <label for="first_name">First Name</label>
                </div>
                <!-- Last name field -->
                <div class="input-field col s6">
                    <input placeholder="Last Name" name="last_name" id="last_name" type="text" class="validate white-text">
                    <label for="last_name">Last Name</label>
                </div>
                <!-- Username field-->
                <div class="input-field col s12">
                    <input placeholder="Username" name="username" id="username" type="text" class="validate white-text">
                    <label for="username">Choose a Username</label>
                </div>
                <!-- Password field -->
                <div class="input-field col s12">
                    <input name="password" id="password" type="password" class="validate white-text">
                    <label for="password">Password</label>
                </div>
                <div class="input-field col s12">
                    <input name="confirm_password" id="confirm_password" type="password" class="validate white-text">
                    <label for="confirm_password">Confirm Password</label>
                </div>
                <!-- Register Button -->
                <div class="row">
                    <button type="submit" class="col s4 offset-s4 btn-small cyan darken-1">
                        <strong>Register</strong>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}