{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align"><h2>Welcome to SwimTimes</h2></span>
                <p>This site is a very simple storage space for timed swims, be it gala swims, time trials or just internally timed swims at training.
                    To use, please register and log in using the links below.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>

<footer class="col s12 welcome-footer">
    <div class="footer-copyright card">
        <div class="container">
            <p>
                © 2024 Created by Sean Brindley for Milestone Project 3 in CodeInstitute's Web Application Design diploma. <a class="" href="https://github.com/seanbrindley17">Github</a>
            </p>
        </div>
    </div>
</footer>

{% endblock %}