{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-content indigo darken-4">
                <span class="card-title center-align">
                    <h2 class="welcome-title white-text">Welcome to SwimTimes</h2>
                </span>
                <p class="welcome-content white-text">I created this site to be a very simple storage space for timed swims, be it gala swims, time trials or just
                    internally timed swims at training, as well as practice at creating a Python app using Flask<br>
                    <br>
                    To use, please register and log in using the links below.</p>
            </div>
            <div class="card-action center-align indigo darken-4 welcome-buttons-container">
                <a href="{{ url_for('login') }}" class="login-button btn-small cyan darken-1">Log In</a>
                <a href="{{ url_for('register') }} " class="custom-register-button btn-small cyan darken-1">Register</a>
            </div>
            <div class="card-action welcome-footer indigo darken-4">
                <p class="white-text">
                    © 2024 Created by Sean Brindley for Milestone Project 3 in CodeInstitute's Web Application Design
                    diploma. <a class="" href="https://github.com/seanbrindley17" target="_blank"><i class="fa-brands fa-github"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}